@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Delius&family=Edu+QLD+Beginner:wght@500&family=Inconsolata&family=Lilita+One&family=Poiret+One&family=Roboto+Mono&family=Roboto:wght@300&family=Tilt+Neon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Delius&family=Edu+QLD+Beginner:wght@500&family=Inconsolata&family=Lilita+One&family=Oleo+Script+Swash+Caps&family=Poiret+One&family=Roboto+Mono&family=Roboto:wght@300&family=Tilt+Neon&display=swap');

:root{
    --primaryback:rgb(17, 17, 17);
}
*{
    padding: 0;
    margin: 0;
}
body{
    background-color:var(--primaryback);
}
.container{
    width: 95%;
    margin: auto;
}
.nav{
    background: black;
    width: 100%;
    height:200px;
   /* box-shadow: 0px 3px 5px orangered;*/
    display: flex;
    justify-content: space-between;
}
.logonav{
    width:25%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fondonav{
    background: #fff;
    height: 108px;
    width: 258px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 55%;
    box-shadow: 3px 3px 8px red;
}
.fondonav img{
    margin-top: 4px;
    width:350px;
    height: auto;
    margin-right:13px;
}
    

.listnav{
    width:70%;
    height:90%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fontlist{
    width: 98%;
    height: 30%;
}
.fontlist ul{
    display: flex;
    justify-content: space-between;
    font-size: 2.6em;
    list-style: none;
   } 
.fontlist ul li a{
    color: orangered;
 text-decoration: none;   
  font-weight: bolder;
  font-family: 'Delius', cursive;
    }
 #check{
    display: none;
 }   
 .checkbtn{
    display: flex;
    align-items: center;
    display: none;
 }
 .ImgIcon{
    width:50px;
    height: auto;
 }
@media(max-width:800px){
    .container{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    .nav{
        width: 100%;
    }
    .logonav{
        width: 40%;
        margin-left:15%;
        
    }
    .listnav{
        width: 100%;
        overflow-x:auto;
    }
    .fontlist{
        width: 80%;
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid orangered;
        margin-top: 50%;
        margin-left: 160%;
        height: 40%;
        overflow-x: auto;
        background:rgba(2, 2, 2, 0.6);
        backdrop-filter:blur(1px);
        border-radius: 16px;
    }
    .fontlist ul li{
        margin-top: 5%;
    }
    .fontlist ul{
        border: 2px solid orangered;
        flex-direction: column;
        width: 60%;
        height: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 16px;
        background:rgba(2, 2, 2, 0.4);
    }
    #check:checked ~.listnav .fontlist{
        margin-left: -25%;
        transition: 1s;
        position: absolute;
        overflow:hidden;
    }
    .checkbtn{
        display: block;
        display: flex;
        justify-content: center;
        margin-right: 5%;
    }
} 
@media(max-width:500px){
    .container{
        width: 100%;
    }
    .nav{
        width: 100%;
    }
    .listnav{
        width: 100%;
    }
    .fontlist{
        height: 30%;
        margin-top:100%;
    }
    .fontlist ul{
        width: 80%;
    }
    #check:checked ~.listnav .fontlist{
        margin-left:-35%;
    }
}



